body {
  background-image: url(../anastasia-taioglou-CTivHyiTbFw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.marqueeWrap {
  display: flex;
  position: absolute;
  width: 200%;
  animation: marqueerunner 40s linear infinite;
}
.marquee {
  display: flex;
  flex: row;
  height: 30px;
  background: #fefefe;
  color: #333;
  border: 1px solid #4a4a4a;
  overflow: hidden;
  position: relative;
}
.marqueeBanner {
  display: inline-block;
  float: left;
  transition: all 0.1s ease-out;
}
@keyframes marqueerunner {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
